h1{
    text-align: center !important;
    margin-top: 30px !important; 
    margin-bottom: 50px;
}
.allPost{
    display: flex;
    width: 80%;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 50px;
}
.card{
    width: 40%;
    flex-wrap: wrap;
    height: 600px;

}
img{
    display: flex;
    margin: 0 auto;
}
.card a{
    color: grey;
    text-decoration: none;
    margin-bottom: 10px;
}
.card p:last-child{
    
    margin-top: 15px;

}

.article{
    margin-top: 2em !important;
}

.test{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}
.test a{
    text-decoration: none;
    background-color: #1A1A1A;
    color: white;
    padding: 5px 15px;
}
.test a:hover{
    color: gray;
}
